// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin-bottom: 30px;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.project {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #AAAAAA;
}