<!DOCTYPE html>
<html>
  <head>
    <title>Chris/Webb</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 id="myName">
      <span class="firstName" id="letterOne">C</span>
      <span class="firstName" id="letterTwo">h</span>
      <span class="firstName" id="letterThree">r</span>
      <span class="firstName" id="letterFour">i</span>
      <span class="firstName" id="letterFive">s</span>
      <span class="slash" id="letterSix">/</span>
      <span class="surname" id="letterSeven">W</span>
      <span class="surname" id="letterEight">e</span>
      <span class="surname" id="letterNine">b</span>
      <span class="surname" id="letterTen">b</span>
    </h2>
    <%= yield %>
  </body>
</html>
